/* Barre de navigation */
nav {
background-color: #171836;
color: #E37538;
display: flex;
justify-content: space-between;
align-items: center;
padding: 9px 140px;
}

/* Logo */
.logo img {
height: 35px;
}

/* Liens de navigation */
.nav-links {
list-style: none;
}

.nav-links li {
display: inline;
margin-right: 20px;
}

.nav-links a {
color: #E37538;
text-decoration: none;
font-weight: bold;
}

/* Barre de recherche */
.search-bar {
position: relative;
display: flex;
align-items: center;
background-color: #E8F0FE;
border-radius: 6px;
padding: 5px 10px;
}

.search-bar img {
margin-right: 5px;
}

.search-bar input[type="text"] {
border: none;
outline: none;
background-color: transparent;
padding: 5px;
width: 100%;
}

.search-bar input[type="text"]::placeholder {
color: #A2B9CD;
}

/* Bouton de contact */
.contact-btn {
background-color:#E37538;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
}

/* Style de la section hero */
.hero {
display: flex;
justify-content: space-between;
align-items: left;
padding: 40px 140px;
background: linear-gradient(to bottom, #82DB95, #E7FFEC);
gap: 100px;
}

/* Contenu à gauche */
.left {
width: 50%;
gap: 100px;
}

.hero-content h1 {
color: #1C4F71;
font-size: 2.5em;
}

.hero-content p {
color: #030821;
}

/* Label QualiRépar */
.label-qualirepar {
background-color: #D9F3FD;
border: none;
display:flex;
border-radius:25px;
margin-top:40px;
padding:10px;
}

.label-qualirepar img {
width: 100px;
height: 53.23px;
margin:20px;
}

.label-qualirepar p {
color: #020316;
margin: 5px;
}

.label-qualirepar a {
color: #020316;
text-decoration: none;
}

/* Image à droite */
.hero-image {
width: 50%;
}

.hero-image img {
width: 100%;
height: auto;
border-radius: 15px;
}

/* Stats */
.stats {
background-color: #1f1f57;
display: flex;
justify-content: space-around;
padding: 60px 140px;
color: #CCDFEC;
}

.stat-item {
justify-content: center;
align-items: center;
display: flex;
gap:20px;
}

.stat-item h2 {
margin: 0;
font-size: 36px;
}

.stat-item p {
margin: 0;
font-size: 18px;
}

/* Choix réparation */
.repair-choice {
background-color: #FFD3F3;
text-align: left;
padding: 60px 140px;
}

.repair-choice h2 {
color: #1C4F71;
}

.repair-options {
display: flex;
justify-content: space-around;
}

.repair-option {
width: calc(33% - 20px);
margin: 40px;
border: 4px solid #1C4F71;
padding: 10px;
background-color:#2A743A;
border-radius:15px;
align-items: center;
}

.repair-option img {
width: auto;
height: auto;
max-width: 100%;
max-height: 150px;
display: block;
margin: auto;
}

.repair-option h3 {
color: #FFD3F3; 
margin-top: 15px;
padding: 5px;
}

/* Témoignages */
.témoignages {
background-color: #171836;
color: white;
padding: 60px 140px;
display: flex;
justify-content: space-around;
align-items: left;
}

.temoignage-item {
margin-right:30px; 
max-width: 300px;
}

.temoignage-item h2 {
color: #6CABC2; 
margin-bottom: 10px;
font-size: 24px;
}

.temoignage-item p {
margin-bottom: 10px;
}

.etoiles {
font-size: 32px;
display: flex; 
justify-content: left;
}

/* Étoiles bleues */
.blue-star {
color: #6CABC2;
}

/* Étoiles oranges */
.orange-star {
color: #E37538;
}

/* Présentation */
.presentation {
display: flex;
align-items: left;
justify-content: space-between;
background: linear-gradient(to bottom, #82DB95, #E7FFEC);
padding: 60px 140px;
gap:100px;
}

.left {
max-width: 50%;
align-content: center;
}

.hero-image img {
max-width: 100%;
height: auto;
}

.left h2 {
color:#1C4F71;
}

/* Diagnostic */

.diagnostic-gratuit {
    background-color: #FFD3F3;
    padding: 60px 140px;
}

.diagnostic-gratuit h2 {
    color: #2A743A;
    text-align: center;
}

.diagnostic-gratuit p {
    color: #666; /* Gris plus clair pour moins d'emphase */
    text-align: center;
}

.contact-form{
    width: 500px; /* Largeur fixe */
    margin: 50px auto; /* Centrage de la section */
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #F8E7F8;
}


.contact-form .input-group {
    margin-bottom: 30px;
    display:flex;
    gap:20px;
}

.label{
    width: 200px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100%);
}

.contact-form button {
    display: block;
    width: 180px;
    padding: 10px;
    margin-top: 10px;
    background-color: #E37538;
    border-radius: 6px;
    border:none;
}


/* Services */
.mes-services {
    background-color: #171836; 
    padding: 20px 140px;
}

.mes-services h2,
.adresse h2 {
    color: white;
    text-align: left;
}

.service-item {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 10px;
}

.service {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    width: calc(33% - 10px);
    margin: 20px;
    padding: 20px;
    align-content: left;
}

.service img {
    height: auto;
    max-width: 100%; /* Les images sont responsives */
}

.service h3,
.service p,
.adresse ul {
    text-align: left;
    display: flex;
}

.adresse li {
    text-align: left;
    display: flex;
    color:white;
}


/* Footer */
footer {
    background: linear-gradient(to bottom, #82DB95, #E7FFEC);
    padding: 20px 140px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-column h3 {
    color: #1C4F71;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column li {
    color: #061511;
    margin-bottom: 5px;
}

.footer-logo img {
    height: auto;
    width: 150px;
}
