/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Typography */
h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
}

p, ul, li, button, form, a {
  font-family: 'Montserrat', sans-serif;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 50%;
}

/* Colors */
:root {
  --primary-color: #E37538;
  --secondary-color: #171836;
  --light-pink:#FFD3F3;
  --green:#35753B;
}

/* Barre de navigation */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
}

/* Logo */
.logo img {
  height: 35px;
}

.logo-resposive {
  display: none;
}

.menu {
  display: flex;
  gap: 8%;
  height: 35px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  max-width: 100%;
  align-content: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
  /* margin-right: 20px; */
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white; /* Couleur du texte au survol */
}

/* Barre de recherche */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #E8F0FE;
  border-radius: 6px;
  padding: 2%;
}

.search-bar img {
  margin-right: 5px;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 4%;
  width: 100%;
}

.search-bar input[type="text"]::placeholder {
  color: #A2B9CD;
}

/* Bouton de contact */
.contact-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 4%;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #BC4300; /* Couleur au survol */
  color: white; /* Couleur du texte au survol */
}

/* Burger menu */
.burger-menu {
  display: none;
  cursor: pointer;
}

/* Responsive rules nav-bar */
@media (max-width: 768px) {
#nav{
  display: flex;
  justify-content: space-between;
}
.menu{
  display:none
}
.burger-menu {
  display: block;
}
.logo {
  display: none;
}
.logo-resposive {
  display: block;
}

}


/* Hero section */
#hero {
  display: flex;
  justify-content: space-between;
  padding: 10% 10%;
  background: linear-gradient(to bottom, rgba(130, 219, 149, 0.25), rgba(231, 255, 236, 0.25));
  gap: 10%;
  align-items: center;
  padding: 10% 10%;
}

.left {
  gap: 4%;
}

.hero-content h1 {
  color: #1C4F71;
  font-size: 2.5em;
}

.hero-content p {
  color: #030821;
}

.label-qualirepar {
  background-color: #D9F3FD;
  border: none;
  display: flex;
  border-radius: 25px;
  margin-top: 40px;
  padding: 4%;
}

.label-qualirepar img {
  width: 100px;
  height: 53.23px;
  margin: 20px;
}

.label-qualirepar p {
  color: #020316;
  margin: 5px;
  font-size: 12px;
}

.label-qualirepar a {
  color: #020316;
  text-decoration: none;
}

.hero-image img {
  border-radius: 15px;
}

/* Responsive rules hero */
@media (max-width: 768px) {
  #hero-left{
  flex-direction: column;
}

.left{
  width: 100%;
}

.label-qualirepar {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.label-qualirepar p, a {
  display: none;
}

}

/* Stats */
.stats {
  background-color: #1f1f57;
  display: flex;
  justify-content: space-around;
  padding: 5% 10%;
  color: #CCDFEC;
}

.stat-item, .rate {
  justify-content: center;
  align-items: center;
  display: flex;
  gap:20px;
}

.stat-item h2, .rate h2 {
  margin: 0;
  font-size: 36px;
}

.stat-item p, .rate p {
  margin: 0;
  font-size: 18px;
}

/* Choix réparation */
.repair-choice {
  background-color: var(--light-pink);
  text-align: left;
  padding: 5% 10%;
}

.repair-choice h2 {
  color: #1C4F71;
}

.repair-options {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: nowrap;
gap: 4%;
}

.repair-option {
width: calc(33% - 20px);
margin: 40px;
border: 4px solid #1C4F71;
padding: 4%;
background-color:var(--green);
border-radius:15px;
align-items: center;
}

.repair-option:hover {
border: 4px solid var(--primary-color);
transform: scale(1.05); /* Agrandissement de 5% */
}

.repair-option img {
width: auto;
height: auto;
max-width: 100%;
max-height: 150px;
display: block;
margin: auto;
}

.repair-option h3 {
color: var(--light-pink); 
margin-top: 15px;
}

/* Témoignages */
.témoignages {
max-width:100%;
height:auto;
overflow-x:auto;
background-color: var(--secondary-color)
color: white;
padding: 5% 10%;
display: flex;
align-items: flex-start;
justify-content: space-around;
flex-direction: row;
gap: 4%;
}

.temoignage-item {
margin-right:30px; 
max-width: 300px;
display:inline-block;
}

.temoignage-item h2 {
color: #6CABC2; 
margin-bottom: 10px;
font-size: 18px;
}

.temoignage-item p {
margin-bottom: 10px;
}

.etoiles {
font-size: 32px;
display: flex; 
justify-content: left;
}

.blue-star {
color: #6CABC2;
}

.orange-star {
color: var(--primary-color);
}

/* Présentation */
.presentation {
display: flex;
justify-content: space-between;
background: linear-gradient(to bottom, rgba(130, 219, 149, 0.25), rgba(231, 255, 236, 0.25));
padding: 5% 10%;
gap:100px;
}

.left {
max-width: 50%;
align-content: center;
}

.hero-image img {
max-width: 100%;
height: auto;
}

.left h2 {
color:#1C4F71;
}

/* Diagnostic */
.diagnostic {
background-color: var(--light-pink);
padding: 5% 10%;
}

.diagnostic h2 {
color: var(--green);
text-align: center;
}

.diagnostic p {
color: #666;
text-align: center;
}

.contact-form{
width: 500px; /* Largeur fixe */
margin: 50px auto;
padding: 2%;
border: 1px solid rgba(0, 0, 0, 0.5);
background-color: #F8E7F8;
}

.contact-form .input-group {
margin-bottom: 30px;
display:flex;
gap:20px;
}

.label{
width: 200px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
width: calc(100%);
}

.contact-form button {
display: block;
width: 180px;
padding: 4%;
margin-top: 10px;
background-color: var(--primary-color);
border-radius: 6px;
border:none;
}

.contact-form button:hover {
background-color: #BC4300; /* Couleur au survol */
color: white; /* Couleur du texte au survol */
}

/* Services */
#mes-services {
background-color: var(--secondary-color); 
padding: 5% 10%;
display: flex;
flex-direction: column;
gap: 40px;
}

#mes-services h2 {
color: white
}

.mes-services p {
color:#000000
}

.adresse h3 {
color: white;
text-align: left;
}

.service-item {
display: flex;
justify-content: space-around;
gap: 40px;
}

.service {
background-color: #ffffff;
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
width: calc(33% - 0px);
padding: 2% 4%;
align-content: left;
display:flex;
gap:20px;
align-items: center;
}

.service:hover {
border: 4px solid var(--primary-color);
transform: scale(1.05); /* Agrandissement de 5% */
}

.service img {
height: 35px;
max-width: 100%; /* Les images sont responsives */
}

.adresse ul {
text-align: left;
color:white;
}

/* Footer */
footer {
background: linear-gradient(to bottom, rgba(130, 219, 149, 0.25), rgba(231, 255, 236, 0.25));
padding: 5% 10%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row-reverse;
}

.footer-container {
display: flex;
gap: 40px;
}

.footer-column ul {
list-style-type: none;
}

.footer-column li {
color: #061511;
margin-bottom: 10px;
}

.footer-column li.titre {
font-weight: bold;
color: #1C4F71;
margin-bottom: 20px;
}

.footer-logo img {
height: auto;
width: 150px;
}

/* Animation */
html {
    scroll-behavior: smooth;
    }

